In [215]:
import pandas as pd
import matplotlib as plt

In [190]:
def checkType(df):
    result = df.dtypes
    print("Output:")
    print(result)

In [191]:
'''
read in parent company csv
caputure "facility name, parent company name, facility naics code" columns
read in specific direct emission data
capture which columns we care about
'''
p_2017 = pd.read_csv('2017_parent_company.csv') 
p_2018 = pd.read_csv('2018_parent_company.csv')
p_2019 = pd.read_csv('2019_parent_company.csv')
p_2020 = pd.read_csv('2020_parent_company.csv')

T_2017 = p_2017[["FACILITY NAME", "PARENT COMPANY NAME", "FACILITY NAICS CODE"]]
T_2018 = p_2018[["FACILITY NAME", "PARENT COMPANY NAME", "FACILITY NAICS CODE"]]
T_2019 = p_2019[["FACILITY NAME", "PARENT COMPANY NAME", "FACILITY NAICS CODE"]]
T_2020 = p_2020[["FACILITY NAME", "PARENT COMPANY NAME", "FACILITY NAICS CODE"]]

de_2017 = pd.read_csv('2017de.csv')
de_2018 = pd.read_csv('2018de.csv')
de_2019 = pd.read_csv('2019de.csv')
de_2020 = pd.read_csv('2020de.csv')

T_de_2017 = de_2017[["Facility Name", "Total reported direct emissions", "CO2 emissions (non-biogenic) ", "Methane (CH4) emissions ", "Nitrous Oxide (N2O) emissions ", "HFC emissions", "PFC emissions", "SF6 emissions ", "NF3 emissions"]]
T_de_2018 = de_2018[["Facility Name", "Total reported direct emissions", "CO2 emissions (non-biogenic) ", "Methane (CH4) emissions ", "Nitrous Oxide (N2O) emissions ", "HFC emissions", "PFC emissions", "SF6 emissions ", "NF3 emissions"]]
T_de_2019 = de_2019[["Facility Name", "Total reported direct emissions", "CO2 emissions (non-biogenic) ", "Methane (CH4) emissions ", "Nitrous Oxide (N2O) emissions ", "HFC emissions", "PFC emissions", "SF6 emissions ", "NF3 emissions"]]
T_de_2020 = de_2020[["Facility Name", "Total reported direct emissions", "CO2 emissions (non-biogenic) ", "Methane (CH4) emissions ", "Nitrous Oxide (N2O) emissions ", "HFC emissions", "PFC emissions", "SF6 emissions ", "NF3 emissions"]]

#Final output 
#T_de_20**
#T_20**

In [192]:
F2017 = T_de_2017.merge(T_2017, left_on ='Facility Name', right_on='FACILITY NAME') 
F2018 = T_de_2018.merge(T_2018, left_on ='Facility Name', right_on='FACILITY NAME') 
F2019 = T_de_2019.merge(T_2019, left_on ='Facility Name', right_on='FACILITY NAME') 
F2020 = T_de_2020.merge(T_2020, left_on ='Facility Name', right_on='FACILITY NAME')

In [193]:
#drop extra name column label
F12017 = F2017.drop(columns=['Facility Name'])
F12018 = F2018.drop(columns=['Facility Name'])
F12019 = F2019.drop(columns=['Facility Name'])
F12020 = F2020.drop(columns=['Facility Name'])

In [194]:
#replace na with 0
F122017 = F12017.fillna(0)
F122018 = F12018.fillna(0)
F122019 = F12019.fillna(0)
F122020 = F12020.fillna(0)

In [195]:
F122017

,Total reported direct emissions,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,HFC emissions,PFC emissions,SF6 emissions,NF3 emissions,FACILITY NAME,PARENT COMPANY NAME,FACILITY NAICS CODE
0,"250,497.50",0,"250,497.50",0,0,0,0,0,121 REGIONAL DISPOSAL FACILITY,NORTH TEXAS MUNICIPAL WATER DISTRICT,562212.0
1,"218,699.25",0,"218,699.25",0,0,0,0,0,15-18565/15-18662,CAMBRIAN COAL LLC,212112.0
2,"70,265.00",0,"70,265.00",0,0,0,0,0,15-19015,CAMBRIAN COAL LLC,212112.0
3,"9,298.92","9,120.10",173.75,5.07,0,0,0,0,17Z Gas Plant - Chevron USA Inc.,CHEVRON CORP,211130.0
4,"52,698.66","52,645.50",24.25,28.91,0,0,0,0,23rd and 3rd,NEW YORK POWER AUTHORITY,221112.0
...,...,...,...,...,...,...,...,...,...,...,...
7750,"11,961.96","11,940.40",15,6.56,0,0,0,0,Zider,ENBRIDGE ENERGY MANAGEMENT,486210.0
7751,"271,470.88","271,218.80",115,137.08,0,0,0,0,Zion Energy Center,CALPINE CORP,221112.0
7752,"14,363.20","14,348.40",6.75,8.05,0,0,0,0,Zuni,XCEL ENERGY,221330.0
7753,"749,328.25","749,301.40",12.25,14.6,0,0,0,0,voestalpine Texas LLC,VOESTALPINE TEXAS LLC,331111.0
7754,"66,643.35",1.1,"66,642.25",0,0,0,0,0,white oak landfill,HAYWOOD COUNTY NORTH CAROLINA,562212.0

In [196]:
F122018

,Total reported direct emissions,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,HFC emissions,PFC emissions,SF6 emissions,NF3 emissions,FACILITY NAME,PARENT COMPANY NAME,FACILITY NAICS CODE
0,"653,854.00",0,"653,854.00",0,0,0,0,0,121 REGIONAL DISPOSAL FACILITY,NORTH TEXAS MUNICIPAL WATER DISTRICT,562212.0
1,"125,981.75",0,"125,981.75",0,0,0,0,0,15-18565/15-18662,CAMBRIAN COAL LLC,212112.0
2,"93,918.75",0,"93,918.75",0,0,0,0,0,15-19015,CAMBRIAN COAL LLC,212112.0
3,"3,564.14","3,485.60",76.75,1.79,0,0,0,0,17Z Gas Plant - Chevron USA Inc.,CHEVRON CORP,211130.0
4,"70,705.29","70,633.50",32.75,39.04,0,0,0,0,23rd and 3rd,NEW YORK POWER AUTHORITY,221112.0
...,...,...,...,...,...,...,...,...,...,...,...
7821,"30,924.15","30,908.60",7.5,8.05,0,0,0,0,Zider,MIDCOAST ENERGY LLC,486210.0
7822,"321,472.99","321,142.40",150,180.59,0,0,0,0,Zion Energy Center,CALPINE CORP,221112.0
7823,"16,707.79","16,690.80",7.75,9.24,0,0,0,0,Zuni,XCEL ENERGY,221330.0
7824,"783,385.60","783,359.30",12,14.3,0,0,0,0,voestalpine Texas LLC,VOESTALPINE TEXAS LLC,331110.0
7825,"74,998.25",0.5,"74,997.75",0,0,0,0,0,white oak landfill,HAYWOOD COUNTY NORTH CAROLINA,562212.0

In [197]:
F122019

,Total reported direct emissions,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,HFC emissions,PFC emissions,SF6 emissions,NF3 emissions,FACILITY NAME,PARENT COMPANY NAME,FACILITY NAICS CODE
0,"518,680.25",0,"518,680.25",0,0,0,0,0,121 REGIONAL DISPOSAL FACILITY,NORTH TEXAS MUNICIPAL WATER DISTRICT,562212
1,"44,658.38","44,612.90",20.75,24.73,0,0,0,0,23rd and 3rd,NEW YORK POWER AUTHORITY,221112
2,"38,691.48","36,963.80","1,709.50",18.18,0,0,0,0,3Bear Libby Gas Plant,3 Bear Delaware Operating – NM LLC,211130
3,"18,925.40",246.9,"18,678.50",0,0,0,0,0,31st Street Landfill,ARCHDIOCESE OF CHICAGO,562212
4,"30,571.64","30,540.40",14.25,16.99,0,0,0,0,3M BROWNWOOD,3M CO,326113
...,...,...,...,...,...,...,...,...,...,...,...
7699,"44,919.95","44,858.40",53.5,8.05,0,0,0,0,Zider,MIDCOAST ENERGY LLC,486210
7700,"395,152.49","394,751.60",182.75,218.14,0,0,0,0,Zion Energy Center,VOLT PARENT LP,221112
7701,"10,870.86","10,859.90",5,5.96,0,0,0,0,Zuni,XCEL ENERGY,221330
7702,"857,709.82","857,686.80",10.5,12.52,0,0,0,0,voestalpine Texas LLC,VOESTALPINE TEXAS LLC,331110
7703,"82,134.75",0,"82,134.75",0,0,0,0,0,white oak landfill,COUNTY OF HAYWOOD,562212

F122020

In [198]:
#23,500
#divide out of percentage of max
#multiple weights by total emissions for each type of gas
#based off of potency 
#CO2
#Methane
#Nitros 

'''
global warming potential (100yr)
co2 = 1
"times co2"

SF6 (23.5k times worse than CO2) – 23,500  (23500/23500)
HFC – 1,300                                (1300/23500)
PFC – 6630                                 (6630/23500)
NF3 – 16,100                               (16100/23500)
Methane (80 times worse than CO2) – 25     (25/23500)
C02 – 1                                    (1/23500)
Nitrous Oxide – 265                        (265/23500)

'''
def scale(df):
    
    #change to float, so we can run calculations 
    df["CO2 emissions (non-biogenic) "] = df["CO2 emissions (non-biogenic) "].str.replace(',', '')
    df["CO2 emissions (non-biogenic) "] = df["CO2 emissions (non-biogenic) "].astype(float).fillna(0)
    
    df["Methane (CH4) emissions "] = df["Methane (CH4) emissions "].str.replace(',', '')
    df["Methane (CH4) emissions "] = df["Methane (CH4) emissions "].astype(float).fillna(0)
    
    df["Nitrous Oxide (N2O) emissions "] = df["Nitrous Oxide (N2O) emissions "].str.replace(',', '')
    df["Nitrous Oxide (N2O) emissions "] = df["Nitrous Oxide (N2O) emissions "].astype(float).fillna(0)
    
    df["HFC emissions"] = df["HFC emissions"].str.replace(',', '')
    df["HFC emissions"] = df["HFC emissions"].astype(float).fillna(0)
    
    df["PFC emissions"] = df["PFC emissions"].str.replace(',', '')
    df["PFC emissions"] = df["PFC emissions"].astype(float).fillna(0)
    
    df["SF6 emissions "] = df["SF6 emissions "].str.replace(',', '')
    df["SF6 emissions "] = df["SF6 emissions "].astype(float).fillna(0)
    
    df["NF3 emissions"] = df["NF3 emissions"].str.replace(',', '')
    df["NF3 emissions"] = df["NF3 emissions"].astype(float).fillna(0)
    
    df["Total reported direct emissions"] = df["Total reported direct emissions"].str.replace(',', '')
    df["Total reported direct emissions"] = df["Total reported direct emissions"].astype(float).fillna(0)

    #scaling factor * og num 
    df["CO2 emissions (non-biogenic) "] = df["CO2 emissions (non-biogenic) "] * (1/23500)#treat like dictionary/ updating keys, but actually w dataframe
    df["Methane (CH4) emissions "] = df["Methane (CH4) emissions "] * (25/23500)
    df["Nitrous Oxide (N2O) emissions "] = df["Nitrous Oxide (N2O) emissions "] * (265/23500)
    df["HFC emissions"] = df["HFC emissions"]* (1300/23500)
    df["PFC emissions"] = df["PFC emissions"] * (6630/23500)
    df["SF6 emissions "] = df["SF6 emissions "] * (23500/23500)
    df["NF3 emissions"] = df["NF3 emissions"] * (16100/23500)

In [199]:
scale(F122017)
scale(F122018)
scale(F122019)
scale(F122020)

In [200]:
'''
add all * total emissions = adjusted
call adjusted total emissions

'''
def adjTotEmi(df):
    sum = 0
    sum =  (df["CO2 emissions (non-biogenic) "] + df["Methane (CH4) emissions "] 
    + df["Nitrous Oxide (N2O) emissions "] + df["HFC emissions"] + df["PFC emissions"] + df["SF6 emissions "] + df["NF3 emissions"]) 
    df["Adjusted direct emissions"] = sum * (df["Total reported direct emissions"])

In [201]:
adjTotEmi(F122017)
adjTotEmi(F122018)
adjTotEmi(F122019)
adjTotEmi(F122020)

In [202]:
#F122017
#F122018
#F122019
#F122020

In [203]:
'''
sort the adj. direct emissions

'''
#F122017
Final2017 = F122017.sort_values(by=["Adjusted direct emissions"], ascending=True).drop(columns=['FACILITY NAME'])
Final2018 = F122018.sort_values(by=["Adjusted direct emissions"], ascending=True).drop(columns=['FACILITY NAME'])
Final2019 = F122019.sort_values(by=["Adjusted direct emissions"], ascending=True).drop(columns=['FACILITY NAME'])
Final2020 = F122020.sort_values(by=["Adjusted direct emissions"], ascending=True).drop(columns=['FACILITY NAME'])

In [204]:
Final2020

,Total reported direct emissions,CO2 emissions (non-biogenic),Methane (CH4) emissions,Nitrous Oxide (N2O) emissions,HFC emissions,PFC emissions,SF6 emissions,NF3 emissions,PARENT COMPANY NAME,FACILITY NAICS CODE,Adjusted direct emissions
2965,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,CNX RESOURCES CORP,486210.0,0.000000e+00
1463,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,UNITED COAL CO LLC,212112.0,0.000000e+00
1464,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,UNITED COAL CO LLC,212112.0,0.000000e+00
6838,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,LAKEVIEW ENERGY LLC,325193.0,0.000000e+00
6839,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,CRESTWOOD ENERGY,325193.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
1118,9236777.67,325.519123,1.466223,17881.298098,0.000000,0.000000,0.0,0.000000,CF INDUSTRIES HOLDINGS INC,325311.0,1.681859e+11
115,5963440.23,246.688502,16.938830,310.758734,0.000000,34639.656613,0.0,0.000000,ALCOA CORP,331313.0,2.099968e+11
1144,2118698.97,0.886609,1.822606,0.131034,115956.614468,0.000000,0.0,0.000000,THE CHEMOURS CO,325120.0,2.456832e+11
7158,851481.85,0.147264,0.003723,0.094047,0.000000,22475.121638,0.0,526398.995574,VERSUM MATERIALS INC,325120.0,4.673566e+11
521,9192846.35,42.064438,0.908777,92507.302851,0.000000,0.000000,0.0,0.000000,Ascend Performance Materials Holdings Inc,325211.0,8.508005e+11

In [205]:
'''
combine company
'''
#Final2017 = F122017.sort_values(by=["Adjusted direct emissions"], ascending=True).drop(columns=['FACILITY NAME'])

FinalParent2017 = Final2017.groupby(["PARENT COMPANY NAME"], as_index=False).agg(sum).sort_values(by=["Adjusted direct emissions"], ascending=True)
FinalParent2018 = Final2018.groupby(["PARENT COMPANY NAME"], as_index=False).agg(sum).sort_values(by=["Adjusted direct emissions"], ascending=True)
FinalParent2019 = Final2019.groupby(["PARENT COMPANY NAME"], as_index=False).agg(sum).sort_values(by=["Adjusted direct emissions"], ascending=True)
FinalParent2020 = Final2020.groupby(["PARENT COMPANY NAME"], as_index=False).agg(sum).sort_values(by=["Adjusted direct emissions"], ascending=True)

In [233]:
#FinalParent2017
#FinalParent2018
#FinalParent2019
#FinalParent2020

In [207]:
def compare(df1, df2):
    #concat
    df3 = pd.concat([df1, df2])
    df4 = df3.drop_duplicates(keep=False)
    return df4
    #DataFrame.drop_duplicates

In [242]:
'''
want a higher score
1-10

10 is great, 1 is bad

1 :bottom 10 percent of emissions (top of stack)
2: 10%
3
...
10:top 10 percent
'''

#bottom50 for FINAL PARENT 2020

Score_10_Grouping_2017= (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.1)))) 
#print(Score_10_Grouping)

df1_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.2)))) 
Score_9_Grouping_2017 = compare(df1, Score_10_Grouping_2017)
#print(Score_9_Grouping)

df2_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.3))))
Score_8_Grouping_2017 = compare(df2_2017, df1_2017)
#print(Score_8_Grouping)

df3_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.4))))
Score_7_Grouping_2017 = compare(df3_2017, df2_2017)
#print(Score_7_Grouping)

df4_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.5))))
Score_6_Grouping_2017 = compare(df4_2017, df3_2017)
#print(Score_6_Grouping)

df5_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.6))))
Score_5_Grouping_2017 = compare(df5_2017, df4_2017)
#print(Score_5_Grouping)

df6_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.7))))
Score_4_Grouping_2017 = compare(df6_2017, df5_2017)
#print(Score_4_Grouping)

df7_2017= (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.8))))
Score_3_Grouping_2017 = compare(df7_2017, df6_2017)
#print(Score_3_Grouping)

df8_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(.9))))
Score_2_Grouping_2017 = compare(df8_2017, df7_2017)
#print(Score_2_Grouping)

df9_2017 = (FinalParent2017['PARENT COMPANY NAME'].head(int(len(FinalParent2017)*(1))))
Score_1_Grouping_2017 = compare(df9_2017, df8_2017)
#print(Score_1_Grouping)

In [276]:
PublicData = ['3M Company', 'A.O. Smith Corp', 'Abbott Laboratories',
       'AbbVie Inc.', 'Accenture plc', 'Activision Blizzard',
       'Acuity Brands Inc', 'Adobe Systems Inc', 'Advance Auto Parts',
       'Advanced Micro Devices Inc', 'AES Corp', 'Aetna Inc',
       'Affiliated Managers Group Inc', 'AFLAC Inc',
       'Agilent Technologies Inc', 'Air Products & Chemicals Inc',
       'Akamai Technologies Inc', 'Alaska Air Group Inc',
       'Albemarle Corp', 'Alexandria Real Estate Equities Inc',
       'Alexion Pharmaceuticals', 'Align Technology', 'Allegion',
       'Allergan, Plc', 'Alliance Data Systems', 'Alliant Energy Corp',
       'Allstate Corp', 'Alphabet Inc Class A', 'Alphabet Inc Class C',
       'Altria Group Inc', 'Amazon.com Inc', 'Ameren Corp',
       'American Airlines Group', 'American Electric Power',
       'American Express Co', 'American International Group, Inc.',
       'American Tower Corp A', 'American Water Works Company Inc',
       'Ameriprise Financial', 'AmerisourceBergen Corp', 'AMETEK Inc',
       'Amgen Inc', 'Amphenol Corp', 'Anadarko Petroleum Corp',
       'Analog Devices, Inc.', 'Andeavor', 'ANSYS', 'Anthem Inc.',
       'Aon plc', 'Apache Corporation',
       'Apartment Investment & Management', 'Apple Inc.',
       'Applied Materials Inc', 'Aptiv Plc', 'Archer-Daniels-Midland Co',
       'Arconic Inc', 'Arthur J. Gallagher & Co.', 'Assurant Inc',
       'AT&T Inc', 'Autodesk Inc', 'Automatic Data Processing',
       'AutoZone Inc', 'AvalonBay Communities, Inc.',
       'Avery Dennison Corp', 'Baker Hughes, a GE Company', 'Ball Corp',
       'Bank of America Corp', 'Baxter International Inc.',
       'BB&T Corporation', 'Becton Dickinson', 'Berkshire Hathaway',
       'Best Buy Co. Inc.', 'Biogen Inc.', 'BlackRock', 'Block H&R',
       'Boeing Company', 'BorgWarner', 'Boston Properties',
       'Boston Scientific', 'Brighthouse Financial Inc',
       'Bristol-Myers Squibb', 'Broadcom', 'Brown-Forman Corp.',
       'C. H. Robinson Worldwide', 'CA, Inc.', 'Cabot Oil & Gas',
       'Cadence Design Systems', 'Campbell Soup', 'Capital One Financial',
       'Cardinal Health Inc.', 'Carmax Inc', 'Carnival Corp.',
       'Caterpillar Inc.', 'CBOE Holdings', 'CBRE Group', 'CBS Corp.',
       'Celgene Corp.', 'Centene Corporation', 'CenterPoint Energy',
       'CenturyLink Inc', 'Cerner', 'CF Industries Holdings Inc',
       'Charles Schwab Corporation', 'Charter Communications',
       'Chesapeake Energy', 'Chevron Corp.', 'Chipotle Mexican Grill',
       'Chubb Limited', 'Church & Dwight', 'CIGNA Corp.',
       'Cimarex Energy', 'Cincinnati Financial', 'Cintas Corporation',
       'Cisco Systems', 'Citigroup Inc.', 'Citizens Financial Group',
       'Citrix Systems', 'CME Group Inc.', 'CMS Energy',
       'Coca-Cola Company (The)', 'Cognizant Technology Solutions',
       'Colgate-Palmolive', 'Comcast Corp.', 'Comerica Inc.',
       'Conagra Brands', 'Concho Resources', 'ConocoPhillips',
       'Consolidated Edison', 'Constellation Brands', 'Corning Inc.',
       'Costco Wholesale Corp.', 'Coty, Inc',
       'Crown Castle International Corp.', 'CSRA Inc.', 'CSX Corp.',
       'Cummins Inc.', 'CVS Health', 'D. R. Horton', 'Danaher Corp.',
       'Darden Restaurants', 'DaVita Inc.', 'Deere & Co.',
       'Delta Air Lines Inc.', 'Dentsply Sirona', 'Devon Energy Corp.',
       'Digital Realty Trust Inc', 'Discover Financial Services',
       'Discovery Communications-A', 'Discovery Communications-C',
       'Dish Network', 'Dollar General', 'Dollar Tree', 'Dominion Energy',
       'Dover Corp.', 'DowDuPont', 'Dr Pepper Snapple Group',
       'DTE Energy Co.', 'Duke Energy', 'Duke Realty Corp',
       'DXC Technology', 'E*Trade', 'Eastman Chemical',
       'Eaton Corporation', 'eBay Inc.', 'Ecolab Inc.', "Edison Int'l",
       'Edwards Lifesciences', 'Electronic Arts',
       'Emerson Electric Company', 'Entergy Corp.', 'Envision Healthcare',
       'EOG Resources', 'EQT Corporation', 'Equifax Inc.', 'Equinix',
       'Equity Residential', 'Essex Property Trust, Inc.',
       'Estee Lauder Cos.', 'Everest Re Group Ltd.', 'Eversource Energy',
       'Exelon Corp.', 'Expedia Inc.', 'Expeditors International',
       'Express Scripts', 'Extra Space Storage', 'Exxon Mobil Corp.',
       'F5 Networks', 'Facebook, Inc.', 'Fastenal Co',
       'Federal Realty Investment Trust', 'FedEx Corporation',
       'Fidelity National Information Services', 'Fifth Third Bancorp',
       'FirstEnergy Corp', 'Fiserv Inc', 'FLIR Systems',
       'Flowserve Corporation', 'Fluor Corp.', 'FMC Corporation',
       'Foot Locker Inc', 'Ford Motor', 'Fortive Corp',
       'Fortune Brands Home & Security', 'Franklin Resources',
       'Freeport-McMoRan Inc.', 'Gap Inc.', 'Garmin Ltd.', 'Gartner Inc',
       'General Dynamics', 'General Electric',
       'General Growth Properties Inc.', 'General Mills',
       'General Motors', 'Genuine Parts', 'Gilead Sciences',
       'Global Payments Inc.', 'Goldman Sachs Group',
       'Goodyear Tire & Rubber', 'Grainger (W.W.) Inc.',
       'Halliburton Co.', 'Hanesbrands Inc', 'Harley-Davidson',
       'Harris Corporation', 'Hartford Financial Svc.Gp.', 'Hasbro Inc.',
       'HCA Holdings', 'HCP Inc.', 'Helmerich & Payne', 'Henry Schein',
       'Hess Corporation', 'Hewlett Packard Enterprise',
       'Hilton Worldwide Holdings Inc', 'Hologic', 'Home Depot',
       "Honeywell Int'l Inc.", 'Hormel Foods Corp.',
       'Host Hotels & Resorts', 'HP Inc.', 'Humana Inc.',
       'Huntington Bancshares', 'Huntington Ingalls Industries',
       'IDEXX Laboratories', 'IHS Markit Ltd.', 'Illinois Tool Works',
       'Illumina Inc', 'Incyte', 'Ingersoll-Rand PLC', 'Intel Corp.',
       'Intercontinental Exchange', 'International Business Machines',
       'International Paper', 'Interpublic Group',
       'Intl Flavors & Fragrances', 'Intuit Inc.',
       'Intuitive Surgical Inc.', 'Invesco Ltd.', 'IQVIA Holdings Inc.',
       'Iron Mountain Incorporated', 'J. B. Hunt Transport Services',
       'Jacobs Engineering Group', 'JM Smucker', 'Johnson & Johnson',
       'Johnson Controls International', 'JPMorgan Chase & Co.',
       'Juniper Networks', 'Kansas City Southern', 'Kellogg Co.',
       'KeyCorp', 'Kimberly-Clark', 'Kimco Realty', 'Kinder Morgan',
       'KLA-Tencor Corp.', "Kohl's Corp.", 'Kraft Heinz Co', 'Kroger Co.',
       'L Brands Inc.', 'L-3 Communications Holdings',
       'Laboratory Corp. of America Holding', 'Lam Research',
       'Leggett & Platt', 'Lennar Corp.', 'Leucadia National Corp.',
       'Lilly (Eli) & Co.', 'Lincoln National', 'LKQ Corporation',
       'Lockheed Martin Corp.', 'Loews Corp.', "Lowe's Cos.",
       'LyondellBasell', 'M&T Bank Corp.', 'Macerich', "Macy's Inc.",
       'Marathon Oil Corp.', 'Marathon Petroleum', "Marriott Int'l.",
       'Marsh & McLennan', 'Martin Marietta Materials', 'Masco Corp.',
       'Mastercard Inc.', 'Mattel Inc.', 'McCormick & Co.',
       "McDonald's Corp.", 'McKesson Corp.', 'Medtronic plc',
       'Merck & Co.', 'MetLife Inc.', 'Mettler Toledo',
       'MGM Resorts International', 'Michael Kors Holdings',
       'Microchip Technology', 'Micron Technology', 'Microsoft Corp.',
       'Mid-America Apartments', 'Mohawk Industries',
       'Molson Coors Brewing Company', 'Mondelez International',
       'Monsanto Co.', 'Monster Beverage', "Moody's Corp",
       'Morgan Stanley', 'Motorola Solutions Inc.', 'Mylan N.V.',
       'Nasdaq, Inc.', 'National Oilwell Varco Inc.', 'Navient', 'NetApp',
       'Netflix Inc.', 'Newell Brands', 'Newfield Exploration Co',
       'Newmont Mining Corporation', 'News Corp. Class A',
       'News Corp. Class B', 'NextEra Energy', 'Nielsen Holdings', 'Nike',
       'NiSource Inc.', 'Noble Energy Inc', 'Nordstrom',
       'Norfolk Southern Corp.', 'Northern Trust Corp.',
       'Northrop Grumman Corp.', 'Norwegian Cruise Line', 'NRG Energy',
       'Nucor Corp.', 'Nvidia Corporation', "O'Reilly Automotive",
       'Occidental Petroleum', 'Omnicom Group', 'ONEOK', 'Oracle Corp.',
       'PACCAR Inc.', 'Packaging Corporation of America',
       'Parker-Hannifin', 'Patterson Companies', 'Paychex Inc.', 'PayPal',
       'Pentair Ltd.', "People's United Financial", 'PepsiCo Inc.',
       'PerkinElmer', 'Perrigo', 'Pfizer Inc.', 'PG&E Corp.',
       'Philip Morris International', 'Phillips 66',
       'Pinnacle West Capital', 'Pioneer Natural Resources',
       'PNC Financial Services', 'Polo Ralph Lauren Corp.',
       'PPG Industries', 'PPL Corp.', 'Praxair Inc.', 'Priceline.com Inc',
       'Principal Financial Group', 'Procter & Gamble',
       'Progressive Corp.', 'Prologis', 'Prudential Financial',
       'Public Serv. Enterprise Inc.', 'Public Storage',
       'Pulte Homes Inc.', 'PVH Corp.', 'Qorvo', 'QUALCOMM Inc.',
       'Quanta Services Inc.', 'Quest Diagnostics',
       'Range Resources Corp.', 'Raymond James Financial Inc.',
       'Raytheon Co.', 'Realty Income Corporation', 'Red Hat Inc.',
       'Regency Centers Corporation', 'Regeneron',
       'Regions Financial Corp.', 'Republic Services Inc', 'ResMed',
       'Robert Half International', 'Rockwell Automation Inc.',
       'Rockwell Collins', 'Roper Technologies', 'Ross Stores',
       'Royal Caribbean Cruises Ltd', 'S&P Global, Inc.',
       'Salesforce.com', 'SBA Communications', 'SCANA Corp',
       'Schlumberger Ltd.', 'Scripps Networks Interactive Inc.',
       'Seagate Technology', 'Sealed Air', 'Sempra Energy',
       'Sherwin-Williams', 'Signet Jewelers', 'Simon Property Group Inc',
       'Skyworks Solutions', 'SL Green Realty', 'Snap-On Inc.',
       'Southern Co.', 'Southwest Airlines', 'Stanley Black & Decker',
       'Starbucks Corp.', 'State Street Corp.', 'Stericycle Inc',
       'Stryker Corp.', 'SunTrust Banks', 'Symantec Corp.',
       'Synchrony Financial', 'Synopsys Inc.', 'Sysco Corp.',
       'T. Rowe Price Group', 'Tapestry, Inc.', 'Target Corp.',
       'TE Connectivity Ltd.', 'TechnipFMC', 'Texas Instruments INC',
       'Textron Inc.', 'The Bank of New York Mellon Corp.',
       'The Clorox Company', 'The Cooper Companies',
       'The Hershey Company', 'The Mosaic Company',
       'The Travelers Companies Inc.', 'The Walt Disney Company',
       'Thermo Fisher Scientific', 'Tiffany & Co.', 'Time Warner Inc.',
       'TJX Companies Inc.', 'Torchmark Corp.', 'Total System Services',
       'Tractor Supply Company', 'TransDigm Group', 'TripAdvisor',
       'Twenty-First Century Fox Class A',
       'Twenty-First Century Fox Class B', 'Tyson Foods', 'U.S. Bancorp',
       'UDR Inc', 'Ulta Salon Cosmetics & Fragrance Inc',
       'Under Armour Class A', 'Under Armour Class C', 'Union Pacific',
       'United Continental Holdings', 'United Health Group Inc.',
       'United Parcel Service', 'United Rentals, Inc.',
       'United Technologies', 'Universal Health Services, Inc.',
       'Unum Group', 'V.F. Corp.', 'Valero Energy',
       'Varian Medical Systems', 'Ventas Inc', 'Verisign Inc.',
       'Verisk Analytics', 'Verizon Communications',
       'Vertex Pharmaceuticals Inc', 'Viacom Inc.', 'Visa Inc.',
       'Vornado Realty Trust', 'Vulcan Materials', 'Wal-Mart Stores',
       'Walgreens Boots Alliance', 'Waste Management Inc.',
       'Waters Corporation', 'Wec Energy Group Inc', 'Wells Fargo',
       'Welltower Inc.', 'Western Digital', 'Western Union Co',
       'WestRock Company', 'Weyerhaeuser Corp.', 'Whirlpool Corp.',
       'Williams Cos.', 'Willis Towers Watson', 'Wyndham Worldwide',
       'Wynn Resorts Ltd', 'Xcel Energy Inc', 'Xerox Corp.', 'Xilinx Inc',
       'XL Capital', 'Xylem Inc.', 'Yum! Brands Inc',
       'Zimmer Biomet Holdings', 'Zions Bancorp', 'Zoetis']

for i in range(len(PublicData)): 
    PublicData[i] = PublicData[i].upper()
    
print(PublicData)

['3M COMPANY', 'A.O. SMITH CORP', 'ABBOTT LABORATORIES', 'ABBVIE INC.', 'ACCENTURE PLC', 'ACTIVISION BLIZZARD', 'ACUITY BRANDS INC', 'ADOBE SYSTEMS INC', 'ADVANCE AUTO PARTS', 'ADVANCED MICRO DEVICES INC', 'AES CORP', 'AETNA INC', 'AFFILIATED MANAGERS GROUP INC', 'AFLAC INC', 'AGILENT TECHNOLOGIES INC', 'AIR PRODUCTS & CHEMICALS INC', 'AKAMAI TECHNOLOGIES INC', 'ALASKA AIR GROUP INC', 'ALBEMARLE CORP', 'ALEXANDRIA REAL ESTATE EQUITIES INC', 'ALEXION PHARMACEUTICALS', 'ALIGN TECHNOLOGY', 'ALLEGION', 'ALLERGAN, PLC', 'ALLIANCE DATA SYSTEMS', 'ALLIANT ENERGY CORP', 'ALLSTATE CORP', 'ALPHABET INC CLASS A', 'ALPHABET INC CLASS C', 'ALTRIA GROUP INC', 'AMAZON.COM INC', 'AMEREN CORP', 'AMERICAN AIRLINES GROUP', 'AMERICAN ELECTRIC POWER', 'AMERICAN EXPRESS CO', 'AMERICAN INTERNATIONAL GROUP, INC.', 'AMERICAN TOWER CORP A', 'AMERICAN WATER WORKS COMPANY INC', 'AMERIPRISE FINANCIAL', 'AMERISOURCEBERGEN CORP', 'AMETEK INC', 'AMGEN INC', 'AMPHENOL CORP', 'ANADARKO PETROLEUM CORP', 'ANALOG DEVICES, INC.', 'ANDEAVOR', 'ANSYS', 'ANTHEM INC.', 'AON PLC', 'APACHE CORPORATION', 'APARTMENT INVESTMENT & MANAGEMENT', 'APPLE INC.', 'APPLIED MATERIALS INC', 'APTIV PLC', 'ARCHER-DANIELS-MIDLAND CO', 'ARCONIC INC', 'ARTHUR J. GALLAGHER & CO.', 'ASSURANT INC', 'AT&T INC', 'AUTODESK INC', 'AUTOMATIC DATA PROCESSING', 'AUTOZONE INC', 'AVALONBAY COMMUNITIES, INC.', 'AVERY DENNISON CORP', 'BAKER HUGHES, A GE COMPANY', 'BALL CORP', 'BANK OF AMERICA CORP', 'BAXTER INTERNATIONAL INC.', 'BB&T CORPORATION', 'BECTON DICKINSON', 'BERKSHIRE HATHAWAY', 'BEST BUY CO. INC.', 'BIOGEN INC.', 'BLACKROCK', 'BLOCK H&R', 'BOEING COMPANY', 'BORGWARNER', 'BOSTON PROPERTIES', 'BOSTON SCIENTIFIC', 'BRIGHTHOUSE FINANCIAL INC', 'BRISTOL-MYERS SQUIBB', 'BROADCOM', 'BROWN-FORMAN CORP.', 'C. H. ROBINSON WORLDWIDE', 'CA, INC.', 'CABOT OIL & GAS', 'CADENCE DESIGN SYSTEMS', 'CAMPBELL SOUP', 'CAPITAL ONE FINANCIAL', 'CARDINAL HEALTH INC.', 'CARMAX INC', 'CARNIVAL CORP.', 'CATERPILLAR INC.', 'CBOE HOLDINGS', 'CBRE GROUP', 'CBS CORP.', 'CELGENE CORP.', 'CENTENE CORPORATION', 'CENTERPOINT ENERGY', 'CENTURYLINK INC', 'CERNER', 'CF INDUSTRIES HOLDINGS INC', 'CHARLES SCHWAB CORPORATION', 'CHARTER COMMUNICATIONS', 'CHESAPEAKE ENERGY', 'CHEVRON CORP.', 'CHIPOTLE MEXICAN GRILL', 'CHUBB LIMITED', 'CHURCH & DWIGHT', 'CIGNA CORP.', 'CIMAREX ENERGY', 'CINCINNATI FINANCIAL', 'CINTAS CORPORATION', 'CISCO SYSTEMS', 'CITIGROUP INC.', 'CITIZENS FINANCIAL GROUP', 'CITRIX SYSTEMS', 'CME GROUP INC.', 'CMS ENERGY', 'COCA-COLA COMPANY (THE)', 'COGNIZANT TECHNOLOGY SOLUTIONS', 'COLGATE-PALMOLIVE', 'COMCAST CORP.', 'COMERICA INC.', 'CONAGRA BRANDS', 'CONCHO RESOURCES', 'CONOCOPHILLIPS', 'CONSOLIDATED EDISON', 'CONSTELLATION BRANDS', 'CORNING INC.', 'COSTCO WHOLESALE CORP.', 'COTY, INC', 'CROWN CASTLE INTERNATIONAL CORP.', 'CSRA INC.', 'CSX CORP.', 'CUMMINS INC.', 'CVS HEALTH', 'D. R. HORTON', 'DANAHER CORP.', 'DARDEN RESTAURANTS', 'DAVITA INC.', 'DEERE & CO.', 'DELTA AIR LINES INC.', 'DENTSPLY SIRONA', 'DEVON ENERGY CORP.', 'DIGITAL REALTY TRUST INC', 'DISCOVER FINANCIAL SERVICES', 'DISCOVERY COMMUNICATIONS-A', 'DISCOVERY COMMUNICATIONS-C', 'DISH NETWORK', 'DOLLAR GENERAL', 'DOLLAR TREE', 'DOMINION ENERGY', 'DOVER CORP.', 'DOWDUPONT', 'DR PEPPER SNAPPLE GROUP', 'DTE ENERGY CO.', 'DUKE ENERGY', 'DUKE REALTY CORP', 'DXC TECHNOLOGY', 'E*TRADE', 'EASTMAN CHEMICAL', 'EATON CORPORATION', 'EBAY INC.', 'ECOLAB INC.', "EDISON INT'L", 'EDWARDS LIFESCIENCES', 'ELECTRONIC ARTS', 'EMERSON ELECTRIC COMPANY', 'ENTERGY CORP.', 'ENVISION HEALTHCARE', 'EOG RESOURCES', 'EQT CORPORATION', 'EQUIFAX INC.', 'EQUINIX', 'EQUITY RESIDENTIAL', 'ESSEX PROPERTY TRUST, INC.', 'ESTEE LAUDER COS.', 'EVEREST RE GROUP LTD.', 'EVERSOURCE ENERGY', 'EXELON CORP.', 'EXPEDIA INC.', 'EXPEDITORS INTERNATIONAL', 'EXPRESS SCRIPTS', 'EXTRA SPACE STORAGE', 'EXXON MOBIL CORP.', 'F5 NETWORKS', 'FACEBOOK, INC.', 'FASTENAL CO', 'FEDERAL REALTY INVESTMENT TRUST', 'FEDEX CORPORATION', 'FIDELITY NATIONAL INFORMATION SERVICES', 'FIFTH THIRD BANCORP', 'FIRSTENERGY CORP', 'FISERV INC', 'FLIR SYSTEMS', 'FLOWSERVE CORPORATION', 'FLUOR CORP.', 'FMC CORPORATION', 'FOOT LOCKER INC', 'FORD MOTOR', 'FORTIVE CORP', 'FORTUNE BRANDS HOME & SECURITY', 'FRANKLIN RESOURCES', 'FREEPORT-MCMORAN INC.', 'GAP INC.', 'GARMIN LTD.', 'GARTNER INC', 'GENERAL DYNAMICS', 'GENERAL ELECTRIC', 'GENERAL GROWTH PROPERTIES INC.', 'GENERAL MILLS', 'GENERAL MOTORS', 'GENUINE PARTS', 'GILEAD SCIENCES', 'GLOBAL PAYMENTS INC.', 'GOLDMAN SACHS GROUP', 'GOODYEAR TIRE & RUBBER', 'GRAINGER (W.W.) INC.', 'HALLIBURTON CO.', 'HANESBRANDS INC', 'HARLEY-DAVIDSON', 'HARRIS CORPORATION', 'HARTFORD FINANCIAL SVC.GP.', 'HASBRO INC.', 'HCA HOLDINGS', 'HCP INC.', 'HELMERICH & PAYNE', 'HENRY SCHEIN', 'HESS CORPORATION', 'HEWLETT PACKARD ENTERPRISE', 'HILTON WORLDWIDE HOLDINGS INC', 'HOLOGIC', 'HOME DEPOT', "HONEYWELL INT'L INC.", 'HORMEL FOODS CORP.', 'HOST HOTELS & RESORTS', 'HP INC.', 'HUMANA INC.', 'HUNTINGTON BANCSHARES', 'HUNTINGTON INGALLS INDUSTRIES', 'IDEXX LABORATORIES', 'IHS MARKIT LTD.', 'ILLINOIS TOOL WORKS', 'ILLUMINA INC', 'INCYTE', 'INGERSOLL-RAND PLC', 'INTEL CORP.', 'INTERCONTINENTAL EXCHANGE', 'INTERNATIONAL BUSINESS MACHINES', 'INTERNATIONAL PAPER', 'INTERPUBLIC GROUP', 'INTL FLAVORS & FRAGRANCES', 'INTUIT INC.', 'INTUITIVE SURGICAL INC.', 'INVESCO LTD.', 'IQVIA HOLDINGS INC.', 'IRON MOUNTAIN INCORPORATED', 'J. B. HUNT TRANSPORT SERVICES', 'JACOBS ENGINEERING GROUP', 'JM SMUCKER', 'JOHNSON & JOHNSON', 'JOHNSON CONTROLS INTERNATIONAL', 'JPMORGAN CHASE & CO.', 'JUNIPER NETWORKS', 'KANSAS CITY SOUTHERN', 'KELLOGG CO.', 'KEYCORP', 'KIMBERLY-CLARK', 'KIMCO REALTY', 'KINDER MORGAN', 'KLA-TENCOR CORP.', "KOHL'S CORP.", 'KRAFT HEINZ CO', 'KROGER CO.', 'L BRANDS INC.', 'L-3 COMMUNICATIONS HOLDINGS', 'LABORATORY CORP. OF AMERICA HOLDING', 'LAM RESEARCH', 'LEGGETT & PLATT', 'LENNAR CORP.', 'LEUCADIA NATIONAL CORP.', 'LILLY (ELI) & CO.', 'LINCOLN NATIONAL', 'LKQ CORPORATION', 'LOCKHEED MARTIN CORP.', 'LOEWS CORP.', "LOWE'S COS.", 'LYONDELLBASELL', 'M&T BANK CORP.', 'MACERICH', "MACY'S INC.", 'MARATHON OIL CORP.', 'MARATHON PETROLEUM', "MARRIOTT INT'L.", 'MARSH & MCLENNAN', 'MARTIN MARIETTA MATERIALS', 'MASCO CORP.', 'MASTERCARD INC.', 'MATTEL INC.', 'MCCORMICK & CO.', "MCDONALD'S CORP.", 'MCKESSON CORP.', 'MEDTRONIC PLC', 'MERCK & CO.', 'METLIFE INC.', 'METTLER TOLEDO', 'MGM RESORTS INTERNATIONAL', 'MICHAEL KORS HOLDINGS', 'MICROCHIP TECHNOLOGY', 'MICRON TECHNOLOGY', 'MICROSOFT CORP.', 'MID-AMERICA APARTMENTS', 'MOHAWK INDUSTRIES', 'MOLSON COORS BREWING COMPANY', 'MONDELEZ INTERNATIONAL', 'MONSANTO CO.', 'MONSTER BEVERAGE', "MOODY'S CORP", 'MORGAN STANLEY', 'MOTOROLA SOLUTIONS INC.', 'MYLAN N.V.', 'NASDAQ, INC.', 'NATIONAL OILWELL VARCO INC.', 'NAVIENT', 'NETAPP', 'NETFLIX INC.', 'NEWELL BRANDS', 'NEWFIELD EXPLORATION CO', 'NEWMONT MINING CORPORATION', 'NEWS CORP. CLASS A', 'NEWS CORP. CLASS B', 'NEXTERA ENERGY', 'NIELSEN HOLDINGS', 'NIKE', 'NISOURCE INC.', 'NOBLE ENERGY INC', 'NORDSTROM', 'NORFOLK SOUTHERN CORP.', 'NORTHERN TRUST CORP.', 'NORTHROP GRUMMAN CORP.', 'NORWEGIAN CRUISE LINE', 'NRG ENERGY', 'NUCOR CORP.', 'NVIDIA CORPORATION', "O'REILLY AUTOMOTIVE", 'OCCIDENTAL PETROLEUM', 'OMNICOM GROUP', 'ONEOK', 'ORACLE CORP.', 'PACCAR INC.', 'PACKAGING CORPORATION OF AMERICA', 'PARKER-HANNIFIN', 'PATTERSON COMPANIES', 'PAYCHEX INC.', 'PAYPAL', 'PENTAIR LTD.', "PEOPLE'S UNITED FINANCIAL", 'PEPSICO INC.', 'PERKINELMER', 'PERRIGO', 'PFIZER INC.', 'PG&E CORP.', 'PHILIP MORRIS INTERNATIONAL', 'PHILLIPS 66', 'PINNACLE WEST CAPITAL', 'PIONEER NATURAL RESOURCES', 'PNC FINANCIAL SERVICES', 'POLO RALPH LAUREN CORP.', 'PPG INDUSTRIES', 'PPL CORP.', 'PRAXAIR INC.', 'PRICELINE.COM INC', 'PRINCIPAL FINANCIAL GROUP', 'PROCTER & GAMBLE', 'PROGRESSIVE CORP.', 'PROLOGIS', 'PRUDENTIAL FINANCIAL', 'PUBLIC SERV. ENTERPRISE INC.', 'PUBLIC STORAGE', 'PULTE HOMES INC.', 'PVH CORP.', 'QORVO', 'QUALCOMM INC.', 'QUANTA SERVICES INC.', 'QUEST DIAGNOSTICS', 'RANGE RESOURCES CORP.', 'RAYMOND JAMES FINANCIAL INC.', 'RAYTHEON CO.', 'REALTY INCOME CORPORATION', 'RED HAT INC.', 'REGENCY CENTERS CORPORATION', 'REGENERON', 'REGIONS FINANCIAL CORP.', 'REPUBLIC SERVICES INC', 'RESMED', 'ROBERT HALF INTERNATIONAL', 'ROCKWELL AUTOMATION INC.', 'ROCKWELL COLLINS', 'ROPER TECHNOLOGIES', 'ROSS STORES', 'ROYAL CARIBBEAN CRUISES LTD', 'S&P GLOBAL, INC.', 'SALESFORCE.COM', 'SBA COMMUNICATIONS', 'SCANA CORP', 'SCHLUMBERGER LTD.', 'SCRIPPS NETWORKS INTERACTIVE INC.', 'SEAGATE TECHNOLOGY', 'SEALED AIR', 'SEMPRA ENERGY', 'SHERWIN-WILLIAMS', 'SIGNET JEWELERS', 'SIMON PROPERTY GROUP INC', 'SKYWORKS SOLUTIONS', 'SL GREEN REALTY', 'SNAP-ON INC.', 'SOUTHERN CO.', 'SOUTHWEST AIRLINES', 'STANLEY BLACK & DECKER', 'STARBUCKS CORP.', 'STATE STREET CORP.', 'STERICYCLE INC', 'STRYKER CORP.', 'SUNTRUST BANKS', 'SYMANTEC CORP.', 'SYNCHRONY FINANCIAL', 'SYNOPSYS INC.', 'SYSCO CORP.', 'T. ROWE PRICE GROUP', 'TAPESTRY, INC.', 'TARGET CORP.', 'TE CONNECTIVITY LTD.', 'TECHNIPFMC', 'TEXAS INSTRUMENTS INC', 'TEXTRON INC.', 'THE BANK OF NEW YORK MELLON CORP.', 'THE CLOROX COMPANY', 'THE COOPER COMPANIES', 'THE HERSHEY COMPANY', 'THE MOSAIC COMPANY', 'THE TRAVELERS COMPANIES INC.', 'THE WALT DISNEY COMPANY', 'THERMO FISHER SCIENTIFIC', 'TIFFANY & CO.', 'TIME WARNER INC.', 'TJX COMPANIES INC.', 'TORCHMARK CORP.', 'TOTAL SYSTEM SERVICES', 'TRACTOR SUPPLY COMPANY', 'TRANSDIGM GROUP', 'TRIPADVISOR', 'TWENTY-FIRST CENTURY FOX CLASS A', 'TWENTY-FIRST CENTURY FOX CLASS B', 'TYSON FOODS', 'U.S. BANCORP', 'UDR INC', 'ULTA SALON COSMETICS & FRAGRANCE INC', 'UNDER ARMOUR CLASS A', 'UNDER ARMOUR CLASS C', 'UNION PACIFIC', 'UNITED CONTINENTAL HOLDINGS', 'UNITED HEALTH GROUP INC.', 'UNITED PARCEL SERVICE', 'UNITED RENTALS, INC.', 'UNITED TECHNOLOGIES', 'UNIVERSAL HEALTH SERVICES, INC.', 'UNUM GROUP', 'V.F. CORP.', 'VALERO ENERGY', 'VARIAN MEDICAL SYSTEMS', 'VENTAS INC', 'VERISIGN INC.', 'VERISK ANALYTICS', 'VERIZON COMMUNICATIONS', 'VERTEX PHARMACEUTICALS INC', 'VIACOM INC.', 'VISA INC.', 'VORNADO REALTY TRUST', 'VULCAN MATERIALS', 'WAL-MART STORES', 'WALGREENS BOOTS ALLIANCE', 'WASTE MANAGEMENT INC.', 'WATERS CORPORATION', 'WEC ENERGY GROUP INC', 'WELLS FARGO', 'WELLTOWER INC.', 'WESTERN DIGITAL', 'WESTERN UNION CO', 'WESTROCK COMPANY', 'WEYERHAEUSER CORP.', 'WHIRLPOOL CORP.', 'WILLIAMS COS.', 'WILLIS TOWERS WATSON', 'WYNDHAM WORLDWIDE', 'WYNN RESORTS LTD', 'XCEL ENERGY INC', 'XEROX CORP.', 'XILINX INC', 'XL CAPITAL', 'XYLEM INC.', 'YUM! BRANDS INC', 'ZIMMER BIOMET HOLDINGS', 'ZIONS BANCORP', 'ZOETIS']

In [288]:
#for 2017
def check(df):
    fin = []
    for i in df['PARENT COMPANY NAME']:
        
        print(df[i])
        
        if df[i] in PublicData:
            fin.append(df[i])
    return fin

In [289]:
check(DataFrame2017)

KeyError: 'PARADOX RESOURCES LLC'

In [278]:
DataFrame2017

                   PARENT COMPANY NAME  Score
1859             PARADOX RESOURCES LLC     10
1428         LIQUEFIED NATURAL GAS LTD     10
1644            MP Mine Operations LLC     10
222                    BEECHCRAFT CORP     10
2214       SOWEGA ENERGY RESOURCES LLC     10
...                                ...    ...
2343             TEXAS INSTRUMENTS INC      1
381         CF INDUSTRIES HOLDINGS INC      1
50                           ALCOA INC      1
147   ASCEND PERFORMANCE MATERIALS LLC      1
2355                   THE CHEMOURS CO      1

[3015 rows x 2 columns]

In [228]:
FinalParent2017
FinalParent2017.drop(FinalParent2017.columns.difference(['PARENT COMPANY NAME','Adjusted direct emissions']), 1, inplace=True)

                   PARENT COMPANY NAME  Adjusted direct emissions
1859             PARADOX RESOURCES LLC               0.000000e+00
1428         LIQUEFIED NATURAL GAS LTD               0.000000e+00
1644            MP Mine Operations LLC               3.147234e-03
222                    BEECHCRAFT CORP               2.788766e-02
2214       SOWEGA ENERGY RESOURCES LLC               1.195319e-01
...                                ...                        ...
2343             TEXAS INSTRUMENTS INC               1.834741e+11
381         CF INDUSTRIES HOLDINGS INC               2.274547e+11
50                           ALCOA INC               2.410601e+11
147   ASCEND PERFORMANCE MATERIALS LLC               7.021741e+11
2355                   THE CHEMOURS CO               1.505155e+12

[2662 rows x 2 columns]

In [240]:
Group10_2017 = pd.DataFrame(Score_10_Grouping_2017)
pd.DataFrame
Group10_2017['Score'] = 10

Group9_2017 = pd.DataFrame(Score_9_Grouping_2017)
pd.DataFrame
Group9_2017['Score'] = 9

Group8_2017 = pd.DataFrame(Score_8_Grouping_2017)
pd.DataFrame
Group8_2017['Score'] = 8

Group7_2017 = pd.DataFrame(Score_7_Grouping_2017)
pd.DataFrame
Group7_2017['Score'] = 7

Group6_2017 = pd.DataFrame(Score_6_Grouping_2017)
pd.DataFrame
Group6_2017['Score'] = 6

Group5_2017 = pd.DataFrame(Score_5_Grouping_2017)
pd.DataFrame
Group5_2017['Score'] = 5

Group4_2017 = pd.DataFrame(Score_4_Grouping_2017)
pd.DataFrame
Group4_2017['Score'] = 4

Group3_2017 = pd.DataFrame(Score_3_Grouping_2017)
pd.DataFrame
Group3_2017['Score'] = 3

Group2_2017 = pd.DataFrame(Score_2_Grouping_2017)
pd.DataFrame
Group2_2017['Score'] = 2

Group1_2017 = pd.DataFrame(Score_1_Grouping_2017)
pd.DataFrame
Group1_2017['Score'] = 1

In [247]:
DataFrame2017 = pd.concat([Group10_2017, Group9_2017, Group8_2017, Group7_2017, Group6_2017, Group5_2017, Group4_2017, Group3_2017, Group2_2017, Group1_2017])

In [248]:
DataFrame2017

                   PARENT COMPANY NAME  Score
1859             PARADOX RESOURCES LLC     10
1428         LIQUEFIED NATURAL GAS LTD     10
1644            MP Mine Operations LLC     10
222                    BEECHCRAFT CORP     10
2214       SOWEGA ENERGY RESOURCES LLC     10
...                                ...    ...
2343             TEXAS INSTRUMENTS INC      1
381         CF INDUSTRIES HOLDINGS INC      1
50                           ALCOA INC      1
147   ASCEND PERFORMANCE MATERIALS LLC      1
2355                   THE CHEMOURS CO      1

[3015 rows x 2 columns]

In [249]:
'''

Group10 = pd.DataFrame(Score_10_Grouping)
pd.DataFrame
Group10['Score'] = 10
Group10
#Delete final row
#Take contents offinal row and put it as new column for all companies.

'''

"\n\nGroup10 = pd.DataFrame(Score_10_Grouping)\npd.DataFrame\nGroup10['Score'] = 10\nGroup10\n#Delete final row\n#Take contents offinal row and put it as new column for all companies.\n\n"

In [235]:
Score_10_Grouping_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.1)))) 
print(Score_10_Grouping_2018)

df1_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.2)))) 
Score_9_Grouping_2018 = compare(df1_2018, Score_10_Grouping_2018)
compare()
#print(Score_9_Grouping)

df2_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.3))))
Score_8_Grouping_2018 = compare(df2_2018, df1_2018)
#print(Score_8_Grouping)

df3_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.4))))
Score_7_Grouping_2018 = compare(df3_2018, df2_2018)
#print(Score_7_Grouping)

df4_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.5))))
Score_6_Grouping_2018 = compare(df4_2018, df3_2018)
#print(Score_6_Grouping)

df5_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.6))))
Score_5_Grouping_2018 = compare(df5_2018, df4_2018)
#print(Score_5_Grouping)

df6_2018= (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.7))))
Score_4_Grouping_2018 = compare(df6_2018, df5_2018)
#print(Score_4_Grouping)

df7_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.8))))
Score_3_Grouping_2018 = compare(df7_2018, df6_2018)
#print(Score_3_Grouping)

df8_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(.9))))
Score_2_Grouping_2018 = compare(df8_2018, df7_2018)
#print(Score_2_Grouping)

df9_2018 = (FinalParent2018['PARENT COMPANY NAME'].head(int(len(FinalParent2018)*(1))))
Score_1_Grouping_2018 = compare(df9_2018, df8_2018)
#print(Score_1_Grouping)

641                      CNX Resources CORP
686              CORONA ENERGY PARTNERS LTD
1482              LIQUEFIED NATURAL GAS LTD
1902                       ORIGIN MINING CO
1153                         GenOn Holdings
                       ...
721                            COVESTRO LLC
2133             ROCHESTER PUBLIC UTILITIES
2344                STATE OF SOUTH CAROLINA
1983    PHILIPS LIGHTING NORTH AMERICA CORP
1925            P-D Valmiera Glass USA Corp
Name: PARENT COMPANY NAME, Length: 277, dtype: object

In [251]:
Group10_2018 = pd.DataFrame(Score_10_Grouping_2018)
pd.DataFrame
Group10_2018['Score'] = 10

Group9_2018 = pd.DataFrame(Score_9_Grouping_2018)
pd.DataFrame
Group9_2018['Score'] = 9

Group8_2018 = pd.DataFrame(Score_8_Grouping_2018)
pd.DataFrame
Group8_2018['Score'] = 8

Group7_2018 = pd.DataFrame(Score_7_Grouping_2018)
pd.DataFrame
Group7_2018['Score'] = 7

Group6_2018 = pd.DataFrame(Score_6_Grouping_2018)
pd.DataFrame
Group6_2018['Score'] = 6

Group5_2018 = pd.DataFrame(Score_5_Grouping_2018)
pd.DataFrame
Group5_2018['Score'] = 5

Group4_2018 = pd.DataFrame(Score_4_Grouping_2018)
pd.DataFrame
Group4_2018['Score'] = 4

Group3_2018 = pd.DataFrame(Score_3_Grouping_2018)
pd.DataFrame
Group3_2018['Score'] = 3

Group2_2018 = pd.DataFrame(Score_2_Grouping_2018)
pd.DataFrame
Group2_2018['Score'] = 2

Group1_2018 = pd.DataFrame(Score_1_Grouping_2018)
pd.DataFrame
Group1_2018['Score'] = 1

In [252]:
DataFrame2018 = pd.concat([Group10_2018, Group9_2018, Group8_2018, Group7_2018, Group6_2018, Group5_2018, Group4_2018, Group3_2018, Group2_2018, Group1_2018])

In [253]:
DataFrame2018

                   PARENT COMPANY NAME  Score
641                 CNX Resources CORP     10
686         CORONA ENERGY PARTNERS LTD     10
1482         LIQUEFIED NATURAL GAS LTD     10
1902                  ORIGIN MINING CO     10
1153                    GenOn Holdings     10
...                                ...    ...
2427             TEXAS INSTRUMENTS INC      1
398         CF INDUSTRIES HOLDINGS INC      1
55                           ALCOA INC      1
2437                   THE CHEMOURS CO      1
156   ASCEND PERFORMANCE MATERIALS LLC      1

[2772 rows x 2 columns]

In [254]:
Score_10_Grouping_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.1)))) 
#print(Score_10_Grouping)

df1_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.2)))) 
Score_9_Grouping_2019 = compare(df1_2019, Score_10_Grouping_2019)
#print(Score_9_Grouping)

df2_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.3))))
Score_8_Grouping_2019 = compare(df2_2019, df1_2019)
#print(Score_8_Grouping)

df3_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.4))))
Score_7_Grouping_2019 = compare(df3_2019, df2_2019)
#print(Score_7_Grouping)

df4_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.5))))
Score_6_Grouping_2019 = compare(df4_2019, df3_2019)
#print(Score_6_Grouping)

df5_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.6))))
Score_5_Grouping_2019 = compare(df5_2019, df4_2019)
#print(Score_5_Grouping)

df6_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.7))))
Score_4_Grouping_2019 = compare(df6_2019, df5_2019)
#print(Score_4_Grouping)

df7_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.8))))
Score_3_Grouping_2019 = compare(df7_2019, df6_2019)
#print(Score_3_Grouping)

df8_2019= (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(.9))))
Score_2_Grouping_2019 = compare(df8_2019, df7_2019)
#print(Score_2_Grouping)

df9_2019 = (FinalParent2019['PARENT COMPANY NAME'].head(int(len(FinalParent2019)*(1))))
Score_1_Grouping_2019 = compare(df9_2019, df8_2019)
#print(Score_1_Grouping)

In [256]:
Group10_2019 = pd.DataFrame(Score_10_Grouping_2019)
pd.DataFrame
Group10_2019['Score'] = 10

Group9_2019 = pd.DataFrame(Score_9_Grouping_2019)
pd.DataFrame
Group9_2019['Score'] = 9

Group8_2019 = pd.DataFrame(Score_8_Grouping_2019)
pd.DataFrame
Group8_2019['Score'] = 8

Group7_2019 = pd.DataFrame(Score_7_Grouping_2019)
pd.DataFrame
Group7_2019['Score'] = 7

Group6_2019 = pd.DataFrame(Score_6_Grouping_2019)
pd.DataFrame
Group6_2019['Score'] = 6

Group5_2019 = pd.DataFrame(Score_5_Grouping_2019)
pd.DataFrame
Group5_2019['Score'] = 5

Group4_2019 = pd.DataFrame(Score_4_Grouping_2019)
pd.DataFrame
Group4_2019['Score'] = 4

Group3_2019 = pd.DataFrame(Score_3_Grouping_2019)
pd.DataFrame
Group3_2019['Score'] = 3

Group2_2019 = pd.DataFrame(Score_2_Grouping_2019)
pd.DataFrame
Group2_2019['Score'] = 2

Group1_2019 = pd.DataFrame(Score_1_Grouping_2019)
pd.DataFrame
Group1_2019['Score'] = 1

In [257]:
DataFrame2019 = pd.concat([Group10_2019, Group9_2019, Group8_2019, Group7_2019, Group6_2019, Group5_2019, Group4_2019, Group3_2019, Group2_2019, Group1_2019])

In [258]:
DataFrame2019

                               PARENT COMPANY NAME  Score
578                             CNX RESOURCES CORP     10
1361                   LNG MANAGEMENT SERVICES LLC     10
1775  PENNSYLVANIA STATE DEPARTMENT OF CORRECTIONS     10
1302                                 Kelson Energy     10
1709                          ORIGIN MINING CO LLC     10
...                                            ...    ...
2416                          VERSUM MATERIALS INC      1
345                     CF INDUSTRIES HOLDINGS INC      1
46                                      ALCOA CORP      1
175      Ascend Performance Materials Holdings Inc      1
2226                               THE CHEMOURS CO      1

[2559 rows x 2 columns]

In [234]:
#FOR 2020!
Score_10_Grouping_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.1)))) 
#print(Score_10_Grouping)

#print()

df1_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.2)))) 
Score_9_Grouping_2020 = compare(df1, Score_10_Grouping)
#print(Score_9_Grouping)

#print()

df2_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.3))))
Score_8_Grouping_2020 = compare(df2, df1)
#print(Score_8_Grouping)

#print()

df3_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.4))))
Score_7_Grouping_2020= compare(df3, df2)
#print(Score_7_Grouping)

#print()

df4_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.5))))
Score_6_Grouping_2020 = compare(df4, df3)
#print(Score_6_Grouping)

#print()

df5_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.6))))
Score_5_Grouping_2020 = compare(df5, df4)
#print(Score_5_Grouping)

#print()

df6_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.7))))
Score_4_Grouping_2020 = compare(df6, df5)
#print(Score_4_Grouping)

#print()

df7_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.8))))
Score_3_Grouping_2020 = compare(df7, df6)
#print(Score_3_Grouping)

#print()

df8_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(.9))))
Score_2_Grouping_2020 = compare(df8, df7)
#print(Score_2_Grouping)

#print()

df9_2020 = (FinalParent2020['PARENT COMPANY NAME'].head(int(len(FinalParent2020)*(1))))
Score_1_Grouping_2020 = compare(df9, df8)
#print(Score_1_Grouping)

#print()

In [260]:
Group10_2020 = pd.DataFrame(Score_10_Grouping_2020)
pd.DataFrame
Group10_2020['Score'] = 10

Group9_2020 = pd.DataFrame(Score_9_Grouping_2020)
pd.DataFrame
Group9_2020['Score'] = 9

Group8_2020 = pd.DataFrame(Score_8_Grouping_2020)
pd.DataFrame
Group8_2020['Score'] = 8

Group7_2020 = pd.DataFrame(Score_7_Grouping_2020)
pd.DataFrame
Group7_2020['Score'] = 7

Group6_2020 = pd.DataFrame(Score_6_Grouping_2020)
pd.DataFrame
Group6_2020['Score'] = 6

Group5_2020 = pd.DataFrame(Score_5_Grouping_2020)
pd.DataFrame
Group5_2020['Score'] = 5

Group4_2020 = pd.DataFrame(Score_4_Grouping_2020)
pd.DataFrame
Group4_2020['Score'] = 4

Group3_2020 = pd.DataFrame(Score_3_Grouping_2020)
pd.DataFrame
Group3_2020['Score'] = 3

Group2_2020 = pd.DataFrame(Score_2_Grouping_2020)
pd.DataFrame
Group2_2020['Score'] = 2

Group1_2020 = pd.DataFrame(Score_1_Grouping_2020)
pd.DataFrame
Group1_2020['Score'] = 1

In [261]:
DataFrame2020 = pd.concat([Group10_2020, Group9_2020, Group8_2020, Group7_2020, Group6_2020, Group5_2020, Group4_2020, Group3_2020, Group2_2020, Group1_2020])

In [262]:
DataFrame2020

                            PARENT COMPANY NAME  Score
460                       CITY OF GREENVILLE TX     10
565                   CITY OF WILLMAR MINNESOTA     10
591                          CNX RESOURCES CORP     10
1796                           PINAL ENERGY LLC     10
1710                       ORIGIN MINING CO LLC     10
...                                         ...    ...
44                                   ALCOA CORP      1
357                  CF INDUSTRIES HOLDINGS INC      1
2213                            THE CHEMOURS CO      1
2401                       VERSUM MATERIALS INC      1
181   Ascend Performance Materials Holdings Inc      1

[2537 rows x 2 columns]

In [221]:
'''
Visualizations
by year
'''

460                         CITY OF GREENVILLE TX
565                     CITY OF WILLMAR MINNESOTA
591                            CNX RESOURCES CORP
1796                             PINAL ENERGY LLC
1710                         ORIGIN MINING CO LLC
                          ...
44                                     ALCOA CORP
357                    CF INDUSTRIES HOLDINGS INC
2213                              THE CHEMOURS CO
2401                         VERSUM MATERIALS INC
181     Ascend Performance Materials Holdings Inc
Name: PARENT COMPANY NAME, Length: 2536, dtype: object

In [ ]:
#data.rename(columns = {'Fruit':'Fruit Name','Colour':'Color','Price':'Cost'})